extends ../includes/layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/") Gaming Boardz
          h6 -MEAN Stack project4
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/") Home
          li
            a(href="/games") Games
        div(ng-include="'/partials/account/navbar-login'")

  section.content.top-padding-med
    div(ng-view)

  footer.container.text-center
    p &copy; 2015 Gaming Boardz Corp.
