doctype html
html
  head
    title Gaming Boardz
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet' href='/vendor/toaster/toaster.css')
    link(rel='stylesheet', href='/css/site.css')
    //- link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
  body(ng-app='app')
    block main-content
    include scripts
