doctype html
html
  head
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet' href='/vendor/toastr/toastr.css')
    //- link(rel='stylesheet', href='/public/css')
    link(rel='stylesheet', href='/css/site.css')
    //- link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
  body
    block main-content
    include scripts
