.panel.panel-primary
  .panel-heading.text-center Featured Player
  .panel-body
    .row(ng-repeat="player in players | filter:{featured:true}")
      .col-md-12 {{player.gamertag + " - " + player.console}}
