.container
  .jumbotron
    h1 Gaming Boardz
    p Welcome to Gaming Boardz a site where gamers can compare their board game wins with their friends.

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-game'")
    .col-md-6
      div(ng-include="'/partials/main/new-game'")
