.panel.panel-primary
  .panel-heading.text-center New Players
  .panel-body
    .row(ng-repeat="player in players | filter:{featured:false}")
      .col-md-12 {{player.gamertag + " - " + player.console}}
